<div class="maxContainer">
  <div class="header">
    <div class="score">
      <img src="../assets/img/logo.svg" alt="logo" class="logo">
      <div class="scoreNum">
        <p class="pscoreText">SCORE</p>
        <p class="pscoreNum">12</p>
      </div>
    </div>
  </div>

  <div class="game">
    <div class="paperTriangleScissors">    
      <div class="circleExt paper">   
        <div class="circleInt">
          <img src="../assets/img/icon-paper.svg" alt="icon_paper" class="icon_">
        </div>    
      </div>
      <img src="../assets/img/bg-triangle.svg" alt="triangle" class="triangle">
      <div class="circleExt scissors">   
        <div class="circleInt">
          <img src="../assets/img/icon-scissors.svg" alt="icon_scissors" class="icon_">
        </div>    
      </div>
    </div>
    <div class="rock_div">
      <div class="circleExt rock">   
        <div class="circleInt">
          <img src="../assets/img/icon-rock.svg" alt="icon_rock" class="icon_">
        </div>    
      </div>
    </div>
    
  </div>

  <div class="result"></div>

  <div class="rules" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <p class="prules">RULES</p>
  </div>
</div>



<!-- Modal -->
<div class="modal fade modalRules" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-8" id="exampleModalLabel">RULES</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../assets/img/image-rules.svg" alt="image_rules" class="img_rules">
      </div>     
    </div>
  </div>
</div>
